body {
	background-image:url('../img/nf-logo-875.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-color: #212121;
	font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial, sans;
	color:#FFF;
}

a:link {
	color:#eaeaea;
	text-decoration:none;
}

a:visited {
	color:#eaeaea;
}

a:hover{
	color:#FFF;
	border-bottom: 5px solid #000;
}

.copyrighttwo a:hover{
	color:#FFF;
	opacity:1.0;
	border-bottom: 2px solid #000;
}

#logo {
	margin-top: 75px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.subtext{
	text-align: center;
	font-size: 24px;
	width: 100%;
	position: fixed;
	bottom: 20%;
	color:#e5e5e5;
}

.footerlinks {
	background-color: #FF3D7F;
 	border-top: 2px solid #FFF;
 	margin-left: -8px;
	font-size:32px;
	padding-bottom:15px;
	padding-top:50px;
	width:100% !important;
	text-align:center;
	position:fixed;
    bottom: 0;
}

.copyright{
	font-size: 18px;
	opacity:0.6;
}

.copyrighttwo{
	font-size:14px;
}

/* Change image and font-size based upon resized screens */
@media screen and (max-width:1024px) and (min-width:768px){
	body {
		background-image:url('../img/nf-logo-450.png') !important;
	}
	.footerlinks {
		font-size:26px !important;
	}
	.copyright {
		font-size:16px;
	}
}

@media screen and (max-width:767px) and (min-width: 481px) {
	body {
		background-image:url('../img/nf-logo-250.png') !important;
	}
	.footerlinks {
		font-size:16px !important;
		padding-top: 15px;
		padding-bottom:12px;
	}
	.copyright {
		display:none !important;
	}
}

@media screen and (max-width:480px) {
	body {
		background-image:url('../img/nf-logo-250.png') !important;
	}

	.footerlinks{
		font-size:14px;
		padding-top:15px;
		padding-bottom:12px;
	}
	.copyright{
		display: none !important;
	}
}




